<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Random Cat Fact</title>
</head>

<body>

    <div class="grid-display">
        <form action="/generate" method="POST" class="buttons">
            <button type="submit" class="generate-button"> GENERATE A CAT FACT</button>
        </form>

        <div class="container">
            <!-- FACT CARD -->
            <% if(locals.catData.length !== 0) { %>
                <% for(let i=catData.length - 1; i>= 0; i--) { %>
                    <div class="card">
                        <img src="https://cataas.com/cat/<%= catData[i]._id %>" alt="image of cat(s)">
                        <div class="container-card">
                            <p>
                                <%= data[i].data %>
                            </p>
                        </div>
                    </div>
                    <% } %>
                        <% } else { %>
                            <div class="card">
                                <img src="https://cataas.com/cat/NMkj9LzSvqoexlHi" alt="cat(s)">
                                <div class="container-card">
                                    <p>😺<br>Welcome to cat fact generator!<br>Click the button above to generate a cat fact, meow! </p>
                                </div>
                            </div>
                            <% } %>
                                <!-- FACT CARD END -->
        </div>
        <form action="/clear-all" method="POST" class="buttons">
            <button class="clear-button"> CLEAR ALL CAT FACTS</button>
        </form>
    </div>
</body>

</html>